# Copy this file to .env and adjust values for your local setup.

# Environment name
REACT_APP_ENV=local

# Dev server port
PORT=3001

# App base URL
REACT_APP_HOME=http://localhost:3001

# entropay-employees API
REACT_APP_EMPLOYEES_URL=http://localhost:8100

# entropay-users-auth API
# Local:
REACT_APP_USER_AUTH_URL=http://localhost:8000
# Dev (AWS API Gateway):
# REACT_APP_USER_AUTH_URL=https://06w1t29ee0.execute-api.us-east-1.amazonaws.com
